@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'login';
@import 'navigasion';
@import 'moviecard';
@import 'sjanger';


  
//main styling

  body{
    background-color: white;
    font-family: "Thasadith", sans-serif;
    margin-top: 200px;

    h2{
      display: flex;
      font-size: xx-large;
      justify-content: center;
  }


   
}
